/.idea/*
/application.log
/logs/application.log
/project/project/target/*
/project/target/*
/target/*
*.iml
/target/

.idea/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
